In [24]:
import pandas as pd
import numpy as np
import os

In [25]:
BD_Atun=pd.read_csv("BD_Evaluación_DS/Categorías/BD_Atún.csv", sep=';',encoding='latin-1')
BD_Cereales=pd.read_csv("BD_Evaluación_DS/Categorías/BD_Cereales.csv", sep=';',encoding='latin-1')
BD_Snacks=pd.read_csv("BD_Evaluación_DS/Categorías/BD_Snacks.csv", sep=';',encoding='latin-1')

In [26]:


def etl_procesar_datos(df):

    # Utilizar el método rename con str.replace para quitar los espacios de los nombres de las columnas
    df.rename(columns=lambda x: x.replace(' ', ''), inplace=True)
    
    # Verificar si la columna 'Unnamed:9' existe en el DataFrame antes de eliminarla
    if 'Unnamed:9' in df.columns:
        df = df.drop(columns='Unnamed:9')
    
    # Reemplaza comas, espacios y guiones por una cadena vacía en todo el DataFrame usando una expresión regular
    df = df.replace(r'[, -]', '', regex=True)

    # Reemplazamos los vacíos por NULO
    df.replace('', pd.NA, inplace=True)

    #cambiamos los tipos de datos de las columnas en todo el dataframe
    df['Día'] = pd.to_datetime(df['Día'], format='%d/%m/%Y')
    df['Mes'] = df['Mes'].astype(str)
    df['Retail'] = df['Retail'].astype(str)
    df['Zona'] = df['Zona'].astype(str)
    df['Venta_Unidades'] = pd.to_numeric(df['Venta_Unidades'], errors='coerce')
    df['Venta_Soles'] = pd.to_numeric(df['Venta_Soles'], errors='coerce')
    df['PVP_Unitario'] = pd.to_numeric(df['PVP_Unitario'], errors='coerce')
    df['Inventario_Unidades'] = pd.to_numeric(df['Inventario_Unidades'], errors='coerce')

    # Imputa valores faltantes con la media de cada columna
    df['Venta_Unidades'].fillna(df['Venta_Unidades'].mean(), inplace=True)
    df['Venta_Soles'].fillna(df['Venta_Soles'].mean(), inplace=True)
    df['PVP_Unitario'].fillna(df['PVP_Unitario'].mean(), inplace=True)
    df['Inventario_Unidades'].fillna(df['Inventario_Unidades'].mean(), inplace=True)

    # Devolvemos el DataFrame con el nombre correspondiente
    return df

In [30]:
etl_procesar_datos(BD_Atun)

,Año,Día,Mes,Retail,Zona,Venta_Unidades,Venta_Soles,PVP_Unitario,Inventario_Unidades
0,2018,2018-01-02,Enero,Cliente_1,CENTRO,3,14.0,4.7,19591.434493
1,2018,2018-01-07,Enero,Cliente_1,CENTRO,1,7.0,7.0,19591.434493
2,2018,2018-01-08,Enero,Cliente_1,CENTRO,2,14.0,7.0,19591.434493
3,2018,2018-01-09,Enero,Cliente_1,CENTRO,1,7.0,7.0,19591.434493
4,2018,2018-01-10,Enero,Cliente_1,CENTRO,2,14.0,7.0,19591.434493
...,...,...,...,...,...,...,...,...,...
30290,2023,2023-06-25,Junio,Cliente_7,SUR,577,3110.0,5.4,13678.000000
30291,2023,2023-06-26,Junio,Cliente_7,SUR,367,2314.0,6.3,13301.000000
30292,2023,2023-06-27,Junio,Cliente_7,SUR,274,1741.0,6.4,13040.000000
30293,2023,2023-06-28,Junio,Cliente_7,SUR,276,1778.0,6.4,10102.000000
30294,2023,2023-06-29,Junio,Cliente_7,SUR,343,2192.0,6.4,12081.000000

In [13]:
BD_Cereales

NameError: name 'BD_Cereales' is not defined

In [10]:
nombre_archivo = "BD_Evaluación_DS/Categorías/BD_Cereales.csv"
df_procesado, nombre_df = procesar_datos_sgp(nombre_archivo)
print(f"DataFrame '{nombre_df}' creado para el archivo '{nombre_archivo}'")

DataFrame 'BD_Cereales' creado para el archivo 'BD_Evaluación_DS/Categorías/BD_Cereales.csv'

In [11]:
BD_Cereales

NameError: name 'BD_Cereales' is not defined